body {
    font-family: Arial, sans-serif;
}

#menu {
    width: 100px;
    background-color: gray;
    position: fixed;
    height: 25%;
    padding: 20px 0;
}

.menu {
    padding: 10px 20px;
}

#contenido {
    margin-left: 220px;
    padding: 20px;
}